@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

.login{
  background-color: #8B0000;  
}

header {
	padding: 5px 0px;
	margin-bottom: 0px;
	height: 50px;
	background-color: #8B0000;
	/* background-color: #3B3B3B; #D72108 #8B0000 */
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

header > div {
	margin-left: 8px
}

#conteudo {
	padding: 0px 8px
}

.footer {
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  padding: 0px;
  width: 100%;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px rgba(255,255,255);
  background: #D72108;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 5px;
	margin: 15px
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}

.rotulo {
	width: 150px
}

.ui-panelgrid td {
	height: 34px
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}

.ui-selectmanycheckbox td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label {
	padding-right: 10px;
}

.produto-tabela input {
	width: 99%;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.2em !important;
}

.ui-tabs {
    padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
    margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0px !important;
}
/* Customiza TabView - fim */

/* Menu sistema inicio */
.menu-sistema {
    border: 10px !important;
    padding: 0px !important;
    background: none !important;
    margin-top: 20%;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
    color: #ffffff !important;
    font-weight: bold !important;
}

.menu-sistema .ui-icon-triangle-1-s {
    background: url(#{resource['images:seta-para-baixo.png']}) no-repeat;
}
/* Menu sistema fim */

.ui-state-disabled {
	opacity: .80 !important;
}

.rodape {
	  margin-bottom: 0px;
	  position: fixed;
	  bottom: 0px;
	  padding: 0px;
	  width: 100%;
	  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
	  color: #ffffff;
	  text-align: center;
	  text-shadow: 0 1px rgba(255,255,255);
	  background: #8B0000;
	 
}

.rodape-author {
  margin-top: 5px;
}

a.button {
    display: inline-block;
    background: lightgray;
    border: 2px outset lightgray;
    cursor: default;
}
a.button:active {
    border-style: inset;
    font: 14px/18px 'Lucida Grande', Arial, sans-serif;
}

.filds{
	color: #ffffff;
	width: 100%;
}

.painelCorpo{
	width:70%; 
	margin-left:15%; 
	margin-top:10px; 
	margin-bottom:20px; 
	margin-right:25%; 
	background-color: #8B0000;
}

.painelDeTabela{
	width:100%;
	margin-left:0%; 
	margin-top:20px; 
	margin-bottom:20px; 
	margin-right:25%; 
	background-color: #FFFFFF;
}

.btAcao{
  	margin:5px; 
  	width:160px; 
  	height: 90px ";
}
